.fotoFooter{
    width: 30%;
    background-image: none;
}
.TituloFooter{
    font-family: 'Open Sans Condensed', sans-serif!important;
    color: black!important;
    font-size: 20px;
}
.tamañoTitulo{
    font-size: 25px;
    
}
.backFooter{
    background-color: rgb(252, 224, 224) ;
}
.backCopy{
    background-color: white!important;
}
.linksTo{
    color: black!important;
}