.tituloHome{
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-bottom: 40px;
    margin-top: 70px;
}

.iconHome{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;    
    text-align: center;
    text-decoration: none;
    color: black;
}