@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;1,300&display=swap');

.itemBody{
    margin-top: 50px;
}
.titulo{
    color: burlywood;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 60px;
    margin-bottom: 50px;
}
.fotoProducto{
    width: 50%;
}
.detalleProduc{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: xx-large;
    color: black;
}